<div *ngIf="dataLoaded==false" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<table *ngIf="dataLoaded!=false" class="table table-dark">
<thead>
    <tr>
        <th>Id</th>
        <th>Category Id</th>
        <th>Product Name</th>
        <th>Units In Stock</th>
        <th>Unit Price</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let product of products">
        <td>{{ product.productId }}</td>
        <td>{{ product.categoryId }}</td>
        <td>{{ product.productName }}</td>
        <td>{{ product.unitsInStock }}</td>
        <td><span style="font-weight: bolder;">₺</span>{{ product.unitPrice }} </td>
    </tr>
</tbody>
</table>